div.formrow{
    display: flex;
    justify-content: space-around;
}

div.wrap{
    width: 80%;
    margin: 0 auto;
}

.resultbox div{
    background-color: #f00;
}

.resultbox span{
    padding: 1em;
    color:#fff;
    white-space: nowrap;
}

div#car-std{
    width:20%;
}

div#car-taxi{
    width:50%;
}

div#car-police{
    width:30%;
}

div.gendergraph{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.gendergraph div{
    text-align: center;
    margin: 0;
    padding: 0.5em;
    border: solid 1px #000;
}

div.gendergraph div.male{
    width: 30%;
    color:#fff;
    background-color: blue;
}

div.gendergraph div.female{
    width: 70%;
    background-color: pink;
}

@media screen and (max-width:480px) { 
    div.formrow{
        display:block;
    }
}